nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-logo img {
    height: 50px;
    margin-right: 10px;
  }

  .carrito-logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  li {
    margin-right: 10px;
    color: inherit;
  }

  #reservar {
    /* Agrega estilos específicos para el elemento li */
    /* Ejemplo: */
    background-color: #ffffff;
    padding: 10px;
  }
  
  #reservar .nav-link {
    /* Agrega estilos específicos para el enlace dentro del li */
    /* Ejemplo: */
    color: #333;
    font-weight: bold;
    font-family: "Calibri", Arial, sans-serif;
    font-size: 26px;
  }
  
  #reservar .nav-link:hover {
    /* Agrega estilos específicos para el enlace al pasar el mouse */
    /* Ejemplo: */
    background-color: #333;
    color: #fff;
  }

  .nav-item .nav-link {
    /* Estilo para el texto del enlace */
    color: #333;
    font-size: 26px;
    font-family: "Calibri", Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    /* Otros estilos... */
  }

  li:last-child {
    margin-right: 0;
    color: #333 !important;
  }
  
  a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-size: 26px;
    display: flex;
    align-items: center;
  }
  
  a:hover {
    background-color: #333;
    color: #fff;
  }
  